import locales from './locales/locales';

const apiGroups = {
  prod: {
    mainUrl: 'https://prod-main-url',
  },
  dev: {
    mainUrl: 'https://dev-main-url',
  },
};

// const apis = apiGroups.prod;
const apis = apiGroups.dev;

// local
apis.mainUrl = 'http://localhost:3000/_fake_apis/main';

const config = {
  apis,
  defaultLocale: locales.zhTw.code,
  routerBase: '',
};

export default config;
