const config = {
  // for development
  development: {
    prefix: '',
    backendUrl: '/api',
    backendProxyTargetUrl: 'http://localhost:8989/flask_template/api/v01',
  },
  // for production
  production: {
    prefix: '/nuxt_template',
    backendUrl: 'https://dev.bclab.ai/flask_template/api/v01',
  },
  // for liff
  liff: {
    id: '[liff id]',
  },
};

export default config;
