@import 'vuetify/src/styles/styles.sass';

// cursor

.cursor-pointer {
  cursor: pointer;
}

// custom-editor

@mixin heading($heading) {
  font-size: map-get($headings, $heading, 'size') !important;
  font-weight: map-get($headings, $heading, 'weight');
  line-height: map-get($headings, $heading, 'line-height');
  letter-spacing: map-get($headings, $heading, 'letter-spacing') !important;
  font-family: map-get($headings, $heading, 'font-family') !important;
  text-transform: map-get($headings, $heading, 'text-transform');
}

.custom-editor {
  &:focus-visible {
    outline: none;
  }

  @for $i from 1 through 6 {
    h#{$i} {
      @include heading('h#{$i}');
    }
  }
}

// custom pagination

.custom-pagination {
  .v-pagination__item {
    box-shadow: none;
  }

  .v-pagination__navigation {
    box-shadow: none;
  }
}

// fill height

.fill-height {
  height: 100%;
}

// fill width

.fill-width {
  width: 100%;
}

// fixed width

@mixin fixed-width($width) {
  width: $width;
  min-width: $width;
  max-width: $width;
}

// gap

@mixin gap($gap) {
  gap: $gap * 4px;
}

@for $i from 0 through 16 {
  .gap-#{$i} {
    @include gap($i);
  }
}

// hide scrollbar

// hide scrollbar for Chrome, Safari and Opera
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

// hide scrollbar for IE, Edge and Firefox
.hide-scrollbar {
  -ms-overflow-style: none; // IE and Edge
  scrollbar-width: none; // Firefox
}

// position

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

// text truncate

@mixin text-truncate-lines($lines) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  white-space: normal;
}

@for $i from 1 through 2 {
  .text-truncate-lines-#{$i} {
    @include text-truncate-lines($i);
  }
}
